.ob-quiz-p-select {
  font-family: var(--mono);
  font-size: 8px;
  color: var(--dim);
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.1em;
}

.ob-quiz-btn-back {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--mono);
  font-size: 8px;
  color: var(--dim);
  letter-spacing: 0.1em;
}
